<!doctype html>
<!--
* Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
* @version 1.0.0-beta5
* @link https://tabler.io
* Copyright 2018-2021 The Tabler Authors
* Copyright 2018-2021 codecalm.net Paweł Kuna
* Licensed under MIT (https://github.com/tabler/tabler/blob/master/LICENSE)
-->
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Iot Devices Dashboard</title>
    <!-- CSS files -->
    <script src="https://unpkg.com/@tabler/core@latest/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@tabler/core@latest/dist/css/tabler.min.css">
</head>
<body >
<div class="wrapper">
    {% include "partials/header" %}
    {% include "partials/nav" %}
    <div class="page-wrapper">
        <div class="container-xl">
            <!-- Page title -->
            <div class="page-header d-print-none">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            Actions
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-cards">
                    <div class="col-md-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Alarm test</h3>
                                <p class="text-muted">Test the alarm of the airquality device.</p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-primary" id="action-buzzer">Execute action</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Led test</h3>
                                <p class="text-muted">Light up the device led of the temperature device.</p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-primary" id="action-led">Execute action</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "partials/footer" %}
    </div>
</div>
</body>
<script src="/scripts/actions.js"></script>
</html>