<!doctype html>
<!--
* Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
* @version 1.0.0-beta5
* @link https://tabler.io
* Copyright 2018-2021 The Tabler Authors
* Copyright 2018-2021 codecalm.net Paweł Kuna
* Licensed under MIT (https://github.com/tabler/tabler/blob/master/LICENSE)
-->
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Iot Devices Dashboard</title>
    <!-- CSS files -->
    <script src="https://unpkg.com/@tabler/core@latest/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@tabler/core@latest/dist/css/tabler.min.css">
</head>
<body>
<div class="wrapper">
    {% include "partials/header" %}
    {% include "partials/nav" %}
    <div class="page-wrapper">
        <div class="container-xl">
            <!-- Page title -->
            <div class="page-header d-print-none">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            Device Status
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-xl">
                <div class="card">
                    <table class="table table-vcenter table-striped card-table">
                        <thead>
                        <tr>
                            <th>Service/Device</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, value in data %}
                        <tr>
                            <td>{{key}}</td>
                            <td>
                                {% if value == true %}
                                <div class="card-body font-weight-bold rounded text-white bg-green">Online</div>
                                {% else %}
                                <div class="card-body font-weight-bold rounded text-white bg-red">Offline</div>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% include "partials/footer" %}
    </div>
</div>
</body>
</html>